MAINNET_RPC=https://holesky.drpc.org
HOLESKY_RPC=https://holesky.drpc.org
DEVNET_RPC=http://37.27.205.126:32806 
DEVNET_BEACON_RPC=http://37.27.205.126:32816
ROUTER_URL=http://127.0.0.1:8000/api/v1
SIDECAR_URL=http:///37.27.205.126:8000