MAINNET_RPC=https://holesky.drpc.org
HOLESKY_RPC=https://holesky.drpc.org
DEVNET_RPC=http://5.78.46.151:32786
DEVNET_BEACON_RPC=http://5.78.46.151:32791
ROUTER_URL=http://127.0.0.1:8000/api/v1
SIDECAR_URL1=http://5.78.46.151:9061 
SIDECAR_URL2=http://5.78.46.151:9063
